# Credenciales de EmailJS (https://www.emailjs.com/)
# Copia este archivo como ".env" y reemplaza los valores con los tuyos.

VITE_EMAILJS_SERVICE_ID=tu_service_id
VITE_EMAILJS_TEMPLATE_ID=tu_template_id
VITE_EMAILJS_PUBLIC_KEY=tu_public_key
